section.BenefitsWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

div.CardContainer {
  display: flex;
  width: 100%;
  gap: 16px;
}

div.Benefit {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: white;
  border-radius: 4px;
  padding: 32px;

  p,
  h3 {
    margin: 0;
  }
}
