section.HeroWrapper {
  width: 100dvw;
  height: 70dvh;

  max-width: 1200px;
  margin: auto;

  margin-top: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.ContentWrapper {
  flex: 1;
  height: 100%;
  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  line-height: 1;
}

h1.Header {
  font-size: 40px;
  margin: 0;
}

h3.Subheader {
  font-size: 26px;
  margin: 0;
}

button.CTAButton {
  border: none;
  outline: none;
  width: fit-content;

  padding: 16px 24px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px #00000022;

  font: 14px var(--jb-mono);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 4px 8px #00000044;
  }
}

div.ImageWrapper {
  flex: 1;
  height: 100%;

  padding: 16px 32px;
  background-color: #ddd;
}
